/* -------------- Global -------------- */
@media screen and (max-width: 767px){
    .navbar-brand{
        display: none;
    }

    .navbar-sm{
        display: block;
        margin: auto;
        padding-right: 60px;
        padding-bottom: 10px;
    }


}

@media screen and (min-width: 700px){
    .hero-inferior-imagen{
        max-width: 600px;
    }
}

@media screen and (max-width:400px){
    .iconos-contenedor p {
        font-size: 18px;
    }

    .iconos-contenedor i {
        font-size: 30px;
    }
}

@media screen and (max-width: 800px){
    .testimonio-imagen{
        height: 120px;
        width: 120px;
    }

    .testimonio-texto{
        font-size: 18px;
    }
}

@media screen and (min-width:1400px){
    .overlay p{
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 0;
    }
}

/* @media screen and (max-height:479px){
    .main img{
        width: 200px;
        height: 200px;
        
    }
}

@media screen and (max-height:1178px){
    .imagenes{
        width: 250px;
        height: 250px;
        
        
    }
} */



/* -------------- Estilos generales -------------- */

body{
    background-color: #000001;
}
html{
    scroll-behavior:smooth;
    scroll-padding-top: 110px;
    
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 2.5rem;
    font-family: 'Anton', sans-serif;

}

p{
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.seccionUno{
    background-color: #161926;
    color: white;
}

.seccionDos{
    background-color: #2e3049;
    color: white;
}

.seccionTres{
    background-color: #4b4b70;
    color: white;
}

.seccionCuatro{
    background-color: #6d689c;
    color: white;
}


.seccion-oscura{
    color: white;
    background-color: #1b1b32;
    /* background-color:#000035 ; */
    /* background-color: #252440; */
}

.seccion-skills{
    color: white;
    /* background-color: #213556; */
    background-color: #484773;
    /* background-color:#82619b ;  */
    /* background-color:  #d384ca; */
    /* background-color:  #ffb2fb; */
}

.seccion-proyectos{
    color:white;
    /* background-color:#82619b ; */
    /* background-color:  #84819d; */
    background-color: #7f8cc2;
}

.seccion-titulo{
    font-size: 2rem;
    padding: 15px 0;
    font-family: 'Anton', sans-serif;
}

.seccion-descripcion{
    font-size: 1.2rem;
    
}

.seccion-texto{
    font-size: 1rem;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.seccion-clara{
    color:black;
    background-color: white;
}

.texto-negro{
    color:black;
}

.texto-blanco{
    color:white;
}

.btn-info{
    font-size: 1.1rem;
    margin: 20px;
    font-weight: bold;
}

.icono{
    padding-left: 0.1cm;
    color: black;
}






/* -------------- Barra De Navegacion -------------- */


.navbar{
    padding: 2rem;
    background-color: #000001;
    /* box-shadow: 0 3px 10px rgba(0,0,0,0.15); */
    transition: all 1.5s;
   
}

.navbar .nav-link:hover{
    background-color: white;
    color: black !important; 
}
.navbar .nav-link{
    color: white;
}

.navbar-scrolled{

    background-blend-mode:darken; 
    padding: 1em 1em 1em 1em;
    padding-left: 1em;  
    background-color: rgba(94, 89, 89, 0.5);

    /* box-shadow: 0 10px 10px rgba(0,0,0,0.15); */
    
}

.navbar .nav-item{
    padding-left: 1em;
}

.navbar-scrolled .nav-link:hover{
    background-color: white;
    color:black !important
}




.navbar-collapse{
    align-items: center;
    justify-content: space-between;
    
}


.nav-item{
    font-family: 'Secular One', sans-serif;
    
}

.nombre{
    padding-left:1cm;
    font-family: 'Merriweather', serif;
    font-size: 25px;
    padding-top: 0.5cm;
    
}


.nav-link{
    transition: all 0.4s ease-in;
    border: 1em;
}


.nav-link:hover{
    color: white;
    background-color: #1b1b32;
}



/* -------------- Carrusel -------------- */

/* .carousel-inner::before{
    content: '';
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    
} */

/* .carousel-item{
    background-position: center;
    background-size: cover;
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: darken;
}

.slide img{
    height: 75vh;
    

}

.carousel-caption{
    padding-bottom:0;
    padding-top:0;
    bottom:0;
    top:50%;
    transform:translateY(-50%);
    

}

.c-img{
    height: 100%;
    object-fit: cover;
    filter:brightness(0.6);
    
} */

/* -------------- Presentacion-------------- */
.main{
    display: flex;
    padding: 100px;
    width: 100%;
    height:100% ;
    justify-content: center;
    align-items: center;
    gap: 300px;


}

.main .container{
    padding: 80px;
}

.main h1{
    font-size: 3em;
}

.main span{
    color:aqua
}

.main .download-cv{
    padding: 10px 20px;
    margin-bottom: 30px;
    background-color: aqua;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 1px 3px 11px -5px rgba(102,231,200,.69);

}

.main .download-cv:hover{
    background-color: white;
    transition: all 0.2s ease-in-out;

}

.main img{

    border: 7px solid aqua;
    max-height: 550px;
    max-width: 400px;
    
}


/* -------------- Hero -------------- */

.hero{
    background-color: #f5f6f7;
    min-height: 450px;
    text-align: center;



}

.hero-principal{
    padding-top:200px;
    padding-right:100px;
    padding-bottom: 100px;
    padding-left:100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


}



.hero-secundario{
    padding: 50px;
    justify-content: center;
    align-items: center;
    padding-top:200px;
    padding-right:100px;
    padding-bottom: 100px;
    padding-left:200px;
}


.hero-principal h2{
    font-size: 1.5rem;
    color:#615151 ;
    display: flex;

}

.hero-imagen-desarrollador{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin:20px;
}

/* .hero-inferior{

}
.hero-inferior-imagen{

} */

/* -------------- Sobre mi -------------- */

.sobre-mi{
    height: 500px;
    padding: 10px;
}

.sobre-mi .contenedor{
    max-width: 700px;
    text-align: center;
    
}

/* -------------- Skills -------------- */

.seccion-skills-librerias{
    /* background-color:#82619b ;  */
    /* background-color:  #d384ca; */
    /* background-color:  #ffb2fb; */
    background-color:  #161926;
}

.skills{
    padding: 0px 0px 100px 0px;
}

.container .seccion-titulo-libreria{
    padding-top: 100px;
    font-size: 2rem;
    font-family: 'Alfa Slab One', cursive;
}

.imagenes{
    max-width: 325px;
    max-height: 225px;
    padding: 50px 50px 0 50px;
    
}


.container .row .col{
    justify-content: center;
    align-items: center;
}

progress {
    -webkit-appearance: none;
    padding: 5px 0px 5px 0;
  }
  
  ::-webkit-progress-bar {
    background-color:#CAB9FF;
  }


  ::-webkit-progress-value{
    background-color: #484773;
  }


.container .row .col p{
    font-size: 1.5em;
    padding-top:25px;
    text-align: center;
    align-items: center;
    justify-content: center;
}




/* -------------- Experiencia -------------- */
.experiencia{
    padding: 40px 40px 60px 40px;
}



.experiencia-titulo{
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}

.experiencia i{
    font-size: 2.5rem;
    color: #7ade30;
    background-color: #0a0a23;
    padding: 8px 19px;
    border-radius: 50%;
}

.badges-contenedor{
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.badge{
    margin: 5px;
}

.experiencia .columna:hover{
    color: white;
    background-color: #1b1b32;
}

.experiencia .columna{
    padding: 20px;
    border: 2px solid #8080804d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.2s ease-in;
}

/* --------------  Proyectos --------------  */

.proyecto{
    position: relative;
}

.proyectos-recientes{
    padding: 40px;
}

.proyectos-recientes img{
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display: block;
    transition:all 0.2s ease; 
}

.proyectos-contenedor{
    padding-top: 60px;
    margin-bottom: 40px;
}

.overlay{
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.overlay p{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
}




@media (hover: none){
    .proyecto .overlay{
        opacity: 1;
    }

    .proyecto img{
        opacity: 0.2;
    }
}

.proyecto:hover .overlay{
    opacity: 1;
}
.proyecto .overlay .iconos-contenedor i:hover{
    color: #887675;
}

.proyecto:hover img{
    opacity: 0.2;
}



.overlay .iconos-contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay .iconos-contenedor-chicos{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.overlay .iconos-contenedor-chicos i{
    color: #f3eae8;
    font-size: 20px;
    margin: 5px;

}

.overlay i{
    color: #f3eae8;
    font-size: 40px;
    margin: 20px;


}

.overlay .iconos-contenedor-chicos-texto{
    font-size: 10px;
}

/* --------------  Formal --------------  */

.abrir-modal{
    font-size: 15px;
}

.boton-modal{ 
    margin-bottom: 20px;
    background-color: white;
    

    
}

.boton-modal i{
    color:white;
    background-color: black;
}

.container #modal1::backdrop{
    background-color: rgba(0,0,0,.55);
}

.modales{
    color: white;
    max-width: 1200px;
    max-height: 800px;
    /* background-color: #DABEB6;  */
    /* background-color: #000035 ; */
    background-color: #252440;
    overflow:none;
    overflow-y: auto;   


}

.modales::-webkit-scrollbar{
    width: 7px;
    background-color: white;
    
}

.modales::-webkit-scrollbar-thumb{
    background-color: #7A8D9B;
    border-radius: 20px;
}

.modales::-webkit-scrollbar-

.descripcion-imagen{
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.descripcion-proyecto{
    align-items: center;
    justify-content: center;
    text-align: justify;
    font-size: 20px;
    
}

.modales::backdrop{
    background-color: rgba(0,0,0,.55);
}

dialog{
    border: none;
}



.container .btn-info{
    background-color: #CAB9FF;
    border: none;
    transition: 0.2 ease-in-out;
}

.container .btn-info:hover{
    background-color: #7BB9FF;
}


/* --------------  Articulos --------------  */



/* --------------  Testimonios --------------  */

.testimonios{
    padding: 40px 40px 80px 40px;
}

.testimonios .carousel{
    max-width: 800px;
}

.carousel-item{
    height: 500px;
}

.carousel-item .container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.testimonio-imagen{
    height: 150px;
    width: 150px;
    margin: 10px 10px 20px 10px;
    border-radius: 50%;
}

.testimonio-texto{
    max-width: 70%;
    font-size: 20px;
    text-align: center;
    font-family: 'Secular One', sans-serif;
}

.testimonio-info{
    font-weight: bold;
    text-align: center;
}

.testimonio-info p{
    margin-bottom: 0;
}

.testimonio-footer .cliente{
    font-size: 1.2rem;
}

.testimonio-info .cargo{
    font-size: 0.9rem;
    color: #656060;
}

.carousel-item{
    background-color: white;
}

/* --------------  Contacto --------------  */

.contacto .container{
    max-width: 1100px;
    min-height: 200px;
    padding: 20px;
}

.contacto .rectangulo{
    margin-top: -5rem ;  /*Esto hace que el rectangulo este sobre puesto al contenedor*/
    background-color:#161926;
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px black;
}

.contacto .row{
    width: 100%;
    display: flex;
    align-items: center;
}

.contacto .descripcion{
    color: white;
    font-size: 1.2rem ;
}

.contacto button{
    color:white;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid white;
    padding: 1.25em 2em;
    margin: 10px;
    border-radius: 100px;
    transition: all 0.2s ease-in-out;
}

.contacto button:hover{
    background-color: white;
    color: black;
}

.contacto button:hover i {
    color:black
}

.contacto button i{
    color:white;
    font-size: 1.3rem;
    transition: all 0.2s ease-in-out;
    
}

/* --------------  Contacto --------------  */

footer{
    min-height: 500px;
}

.footer-logo{
    height: 80px;
    width: 80px;
    margin: 10px;
    display: block;
    margin: auto;
    border-radius: 50%;
}

.footer-texto{
    font-size: 1.5rem;
    padding: 20px;
    margin-bottom: 30px;
    font-family: 'Secular One', sans-serif;
}

.iconos-redes-sociales a{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 50%;
    transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover{
    background-color: white;
    border: 2px solid rgb(13,110,253);

}

.iconos-redes-sociales a:hover i{
    color:black;
}



.iconos-redes-sociales i{
    color: white;
    font-size: 1.5rem;
    transition: all 0.2s ease-in ;
}

.derechos-de-autor{
    font: 15px;
    color: #aeaeae;
    padding: 30px;
}

.navbar .navbar.nav .navbar-link{
    color: #fff;
    font-size: 1.1en;
    padding: 0 1em;    
  }
  
  .navbar-brand img{
    width: 100px ;
  }

  .navbar-brand{
    margin-right: 0;
  }